.calculator {
    max-width: 400px;
    max-height: fit-content;
    margin: auto;
}

 /* screen */

.calculator .screen {
    padding: 10px 10px;
    height: fit-content;
    width: 100%;
    color: white;
    background-color: #424c52;
    text-align: right;
    font-size: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Grid/style "div button" */

.buttons {
    width: 100%;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
}

/* buttons style */

.calc-button {
    border: 1px solid #899dae;
    color: black;
    padding: 15px 10px;
    font-size: 30px;
}

/* "=" button style */

.result {
    grid-area: 2/4/span 4;
    background: #f77077;
    border-bottom-right-radius: 10px;
}

.color {
    background-color: #d2dce3;
}